<%- include("../template/header") %>
        <h1>Create an Actor!</h1>
        <a href="/actors">Back to list</a>
        <% if(typeof errors != 'undefined') { %>
          <div class="red-alert alert alert-danger" role="alert">
            <ul>
              <% for(var i = 0; i < errors.length; i++) { %>
                <li> <%= errors[i].msg %> </li>
              <% } %>
            </ul>
          </div>
        <% } %>
        <form class="crud" action="/actors/add" method="post">
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="text" id="rating" name="rating" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="favorite_movie">Favorite Movie:</label>
            <select class="form-control" name="favorite_movie" id="favorite_movie">
              <option value=""></option>
              <% for (let i = 0; i < movies.length; i++) { %>
                <option value="<%=movies[i].id%>">
                  <%=movies[i].title%>
                </option>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" name="button" class="btn btn-success">Submit</button>
          </div>
        </form>
        <a href="/actors">Back to list</a>
<%- include("../template/footer") %>
